<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @menu.name %>
</p>

 <%= link_to 'Add Dish', new_dish_path(@menu), :class => "btn btn-success btn-mini" %>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
