<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dish.name %>
</p>

<p>
  <b>Description:</b>
  <%= @dish.description %>
</p>

<p>
  <b>Price:</b>
  <%= @dish.price %>
</p>

<p>
  <b>Category:</b>
  <%= @dish.category_id %>
</p>

<%= link_to "Add to Menu", add_dish_menu_path(@menu, :dish_id => @dish.id), :method => :put %>



<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
